.dataframe {
    display: inline-block;
}
.dataframe td {
    vertical-align: middle;
    text-align: right;
}
tbody tr:hover {background: rgba(66, 165, 245, 0.2);}

.title {
    color: #315f30 !important;
}

.description {
    color: #315f30 !important;
}

h1 {
    color: #315f30;
}

h2 {
    color: #4c784e;
}

h3 {
    color: #6a926b;
}

h4 {
    color: #758b76;
}

