.dataframe {
    display: inline-block;
}
.dataframe td {
    vertical-align: middle;
    text-align: right;
}
tbody tr:hover {background: rgba(66, 165, 245, 0.2);}

.title {
    color: #204f22 !important;
}

.description {
    color: #204f22 !important;
}

h1 {
    color: hwb(117 10% 58%);
}

h2 {
    color: hwb(78 10% 45%);
}
